@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>1.Bu otomaik Deployment sürecinin Docker Hub ve Git Hub Entegrasyonu aşamasıdır. Local ortamdaki kaynak kodda yapılan değişiklik</p>
    <p>Gite push edilince Git de Git Action ile Hub build edip image güncellenecek </p>
</div>
