@{
    ViewData["Title"] = "Home Page";
}

<environment names="Development">
    <h1>Ortam Development</h1>
</environment>

<environment names="Production">
    <h2>Ortam Production</h2>
</environment>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>1.Bu otomaik Deployment sürecinin Docker Hub ve Git Hub Entegrasyonu aşamasıdır. Local ortamdaki kaynak kodda yapılan değişiklik</p>
    <p>Gite push edilince Git de Git Action ile Hub build edip image güncellenecek </p>
    <p>Şu anki amaç hubdan da otomatik olarak image çekip podlarıı yeniden oluşturmak. 2</p>
    <p>Tarih:@DateTime.Now.Year</p>
    <p>Test CD-CI XXX-YYYYYYY ZZZZZZZZ KKKKKK</p>
</div>
